// ------------------------------------------------------
// Common settings for Debug targets
// ------------------------------------------------------

#include "BCShared.xcconfig"

// Debug only settings for all targets

DEPLOYMENT_POSTPROCESSING = NO
DEAD_CODE_STRIPPING = NO


// Build options

DEBUG_INFORMATION_FORMAT = dwarf
ONLY_ACTIVE_ARCH = YES

ENABLE_NS_ASSERTIONS = YES


// Code Signing

OTHER_CODE_SIGN_FLAGS = --timestamp=none  // uncomment to allow us to sign offline for debug builds

// Deployment

STRIP_INSTALLED_PRODUCT = NO


// Linking

DEAD_CODE_STRIPPING = NO
GCC_SYMBOLS_PRIVATE_EXTERN = NO

// Code Generation

GCC_OPTIMIZATION_LEVEL = 0


// Language

GCC_PRECOMPILE_PREFIX_HEADER = NO

// Legacy
// (I think we probably don't need these anymore)
ZERO_LINK = YES

