// ------------------------------------------------------
// Common settings for all targets
// ------------------------------------------------------

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 6.0
VALID_ARCHS = arm64 armv7 armv7s
ARCHS = $(ARCHS_STANDARD)

UNIT_TEST_FRAMEWORK_PATH = $(SDKROOT)/Developer/Library/Frameworks

OTHER_LDFLAGS = -ObjC
