// ------------------------------------------------------
// Common settings for Release targets
// ------------------------------------------------------

#include "BCShared.xcconfig"

// Deployment

DEPLOYMENT_POSTPROCESSING = YES
STRIP_INSTALLED_PRODUCT = YES


// Build options

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym


// Linking

DEAD_CODE_STRIPPING = YES


// Code Generation
GCC_OPTIMIZATION_LEVEL = fast
LLVM_LTO = YES
GCC_UNROLL_LOOPS = YES
LLVM_VECTORIZE_LOOPS = YES

ENABLE_NS_ASSERTIONS = NO


// Language

GCC_PRECOMPILE_PREFIX_HEADER = YES


// Legacy
// (I think we probably don't need these anymore)
ZERO_LINK = NO

// Static analyser

CLANG_STATIC_ANALYZER_MODE = deep
