// ------------------------------------------------------
// Common settings for unit test targets
// ------------------------------------------------------

WRAPPER_EXTENSION = xctest
FRAMEWORK_SEARCH_PATHS = $(PLATFORM_DIR)/Developer/Library/Frameworks $(inherited)
GCC_PREFIX_HEADER = Tests/$(TARGET_NAME)$(CONFIGURATION).pch
SKIP_INSTALL = YES
OTHER_LDFLAGS = -ObjC
